body {
  font-family: Georgia, serif;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background: #ddd;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

section {
  background: white;
  margin: 20px;
  padding: 15px;
  border-left: 5px solid black;
}

article {
  margin: 8px 0;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
}

.login-box input, select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
